body {
  height: 100vh;
  width: 100vw;
  background-color: #def7fe;
  font-family: 'Shippori Mincho B1', sans-serif;
}

main {
  padding: 0 15%;
  margin-top: 30px;
}

.table {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.table_header {
  margin-bottom: 10px;
  background-color: #bf476d;
  padding: 0;
}

.table th {
  padding: 20px 10px 25px 0;
  border-right: 2px solid #000;
  font-size: 14px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.table th:last-child {
  border: none;
}

.table tr th:first-child,
.table tr th:nth-child(2) {
  width: 22%;
}

.table_row td {
  padding: 10px;
  text-align: center;
}

.table_row td:hover {
  cursor: default;
}

.table_row:nth-child(even) {
  background-color: #ffabc5;
}

.table_row:nth-child(odd) {
  background-color: #b3788a;
}

.table_row:hover {
  background-color: #ffcddf;
}

.eyeIcon {
  width: 30px;
  height: 30px;
  margin: auto;
  background: url('../assets/eye.svg') no-repeat;
}

.eyeIcon:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
